<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1508028209469-933de69c0f1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Toto's Cocktails</h1>
  <h6>The Best Cocktails Ever Top of The Pop</h6>
     <a> <%= link_to "Add one", new_cocktail_path, class: 'btn btn-outline-success' %></a>
  </div>
</div>
<div class="container">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
      <div class="card">
      <%= link_to cocktail_path(cocktail) do %>
      <%= image_tag cl_image_path cocktail.photo.key %>
      <% end %>
       <p><%= cocktail.name %><p>
    </div>
    <% end %>
    </div>
</div>
<!--
<a href="https://developer.mozilla.org/%22%3E
  <img src="https://developer.mozilla.org/static/img/favicon144.png"
       alt="Visit the MDN site">
</a>





https://images.unsplash.com/photo-1563991471891-9c8b34f9cec6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60 -->
<!-- https://images.unsplash.com/photo-1508028209469-933de69c0f1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80 -->
<!-- https://images.unsplash.com/photo-1491333078588-55b6733c7de6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80 -->
