<div class="container">
  <% @cocktails.each do |cocktail| %>
    <restaurant><h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    </restaurant>
  <% end %>
</div>

<p>
  <%= link_to "ajouter un cocktail", new_cocktail_path %>
</p>
