
<div class="container-new">
<h3> Add a new Cocktail! </h3>
<div class="form-group">
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name%>
  <%= f.button :submit, class: "btn-primary btn-block" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary btn-block" %>
<% end %>
</div>
</div>
