

<div class="container-new">
  <div class="form">
    <h3>Add an ingredient</h3>
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, { id: 'ingredient' } %>
  <%= f.submit "Submit dose", class: "btn btn-primary" %>
<% end %>
</div>
</div>


