.navbar-lewagon {
  justify-content: space-between;
  background: #e8e8e8;
  height: 50px;
  opacity: 0.9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}
