.navbar-lewagon {
  justify-content: space-between;
  background: #e8e8e8;
  height: 50px;
  opacity: 0.9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
  height: 42px;
  margin-top: 9px;
}

.navbar-brand {
  display: flex;
}

#title {
  font-size: 10px;
  color: #e05297;
  margin: 10px;
  margin-top: 23px;
  padding-top: 15px;
}
